{% extends 'base.html' %}
{% load static %}
{% block head %}
  	<link rel="stylesheet" href="{% static 'css/review.css' %}" />
    <title>Way2AgriIntel AI |Agritech Mart Supplier Acknowledgement </title>
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
	<br>
    <div class="popup-form">
    	<center><img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1715414912/Static%20Images/depositphotos_12065279-stock-photo-green-check-mark-symbol_bfddel.jpg" alt="success-logo" loading="lazy"></center>
        <h3 class="success-head">Thank you 😊 for expressing interest in scaling up with us! <br> Your inquiry has been successfully submitted. We will be in contact with you shortly.</h3>
    	<br>
        <center><a href="{% url 'W2AI:ats' %}">Back</a></center>
    </div>
	<br>
{% endblock %}