{% extends 'base.html' %} 
{% load static %}
{% block head %}
    <title>Way2AgriIntel AI | Thank You</title>
{% endblock %} 
{% block header %}{% endblock %}
{% block content %}
    <div style="background-color:whitesmoke">
    <br><br><br><br>
        <h2 style="text-align:center;color:rgb(2, 61, 2)">Thank you !!!Your message has been submitted !!! Will contact you soon.</h2>
        <br><br>
        <div style="width:80%; margin:auto;text-align:justify;line-height:30px;color:rgb(3, 73, 3)">
            <p>Meanwhile, we suggest you to explore our <a href="https://www.way2agribusiness.com/" title="https://www.way2agribusiness.com/"><strong>other websites</strong></a> (links available at the bottom of the home page) and try to understand our background, the services we offer & figure out the activities/services in which you wish to involve with us. If you find it suitable, you can also call us @ <a href="tel:+91-9449004956" title="+91-9449004956"><strong>9449004956.</strong></a></p>
        </div>
        <br><br>
    </div>
{% endblock %} 