{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Way2AgriIntel AI | Farm Management Solutions Form {% if title %}| {{title}} {% endif %}</title>
    <link href="{% static 'css/feedback.css' %}" rel="stylesheet"/>
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <br><br>
    <h3 class="form-head">Farm Management Solution Requirement Form</h3>
    <form method="POST" class="feedback-form">
    {% csrf_token %}
    <div class="form-group-container">
        <div class="form-group full-width">
            {{ service_form.name }}
            <label for="{{ service_form.name.id_for_label }}" id="label">{{ service_form.name.label }}</label>
        </div>
        <div class="form-group full-width">
            {{ service_form.mobile_no }}
            <label for="{{ service_form.mobile_no.id_for_label }}" id="label">{{ service_form.mobile_no.label }}</label>
        </div>
        <div class="form-group full-width">
            {{ service_form.farm_size }}
            <label for="{{ service_form.farm_size.id_for_label }}" id="label">{{ service_form.farm_size.label }}</label>
        </div>
        <br>
        <div class="form-group full-width">
            {{ service_form.address }}
            <label for="{{ service_form.address.id_for_label }}" id="feedback">{{ service_form.address.label }}</label>
        </div>
        <div class="form-group full-width">
            {{ service_form.crop_details }}
            <label for="{{ service_form.crop_details.id_for_label }}" id="feedback">{{ service_form.crop_details.label }}</label>
        </div>
        <div class="form-group full-width">
            {{ service_form.current_farm_tech }}
            <label for="{{ service_form.current_farm_tech.id_for_label }}" id="feedback">{{ service_form.current_farm_tech.label }}</label>
        </div>
        <div class="form-group full-width">
            {{ service_form.challenges }}
            <label for="{{ service_form.challenges.id_for_label }}" id="feedback">{{ service_form.challenges.label }}</label>
        </div>
        <div class="form-group full-width">
            {{ service_form.service_requirement }}
            <label for="{{ service_form.service_requirement.id_for_label }}" id="feedback">{{ service_form.service_requirement.label }}</label>
        </div>
    </div>
    <br><br>
        <button class="feed-btn"><span></span><span></span><span></span><span></span>Post Your Service Requirement</button>
        <br><br><br>
    </form>
{% endblock %}