{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Way2AgriIntel AI | FieldIntel {% if title %}| {{title}} {% endif %}</title>
{% endblock %}
{% block content %}
    <br><br><br>
    <div class="intro">
        <div class="div1">
            <img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1714471534/Static%20Images/FieldIntel_druhbh.webp" alt="FieldIntel | Farm Management Solutions" loading="lazy">
        </div>
        <div class="div2">
            <h3>About FieldIntel</h3>
            <p>"FieldIntel - Farm Mgt Solutions (FIFMS)" represents Way2Agribusiness India Pvt. Ltd.'s commitment to assisting in the transition from farming to agribusiness. Our core mission is to be the comprehensive solution provider for commercial farms, enhancing competitiveness and sustainability through a diverse range of products and services. We primarily operate within a 250 km radius of Bengaluru. This innovative initiative covers a range of offerings, including expert-led farm visits, ongoing support for crop management, supply of nutrients, plant protection products, farm machinery, and more. We provide strategic mentoring to ensure the sustained success of farming activities. FIFMS also ensures access to cutting-edge equipment, along with the reliable supply of saplings and plants to meet diverse agricultural needs.  </p>
            <p>Acknowledging the significance of on-farm support and off-farm strategies, this service caters to both new and established commercial farms. The target customer base includes forward-thinking conventional farmers, non-conventional farmers entering commercial operations, companies with owned agricultural land, and farmhouses grappling with crop management challenges. Our initiative strengthened by the integration of Way2AgriIntel AI and selected modules, providing farmers with direct access to a comprehensive suite of services. By empowering farmers with the tools and support needed to navigate the complexities of modern agriculture, FIFMS aims to drive sustained growth, competitiveness, and prosperity within the agricultural landscape.</p>
            <br>
        </div>
    </div> 
    <div class="intro1">
        <ul>
            <h4>Salient Features</h4>
            <li>On-farm support and off-farm strategies for operations betterment  </li>
            <li>Periodical field visits by KABPC & other team members  </li>
            <li>Leveraging Way2AgriIntel AI advanced modules effectively  </li>
            <li>Supply of right nutrients, plant protection products & farm machineries </li>
            <li>Application of technology led solutions to address farming challenges   </li>
            <li>Output marketing support incl. primary processing  </li>
            <li>Assisting the farm owners in transition from farming to agribusiness </li>
            <li>Promote and encourage sustainable agricultural practices</li>
        	<div class="feedback">
        		<button><i class="material-icons">feedback</i><a href="{% url 'W2AI:feedback' %}">For Your Feedback</a></button>
    		</div>
        </ul>
        <ul>
            <h4>Steps to access FieldIntel solutions </h4>
            <li>Field visit – Service needs & challenges assessment </li>
            <li>MoU – Establishing partnership with defining scope of services</li>
            <li>Decision enabling system & technology application support </li>
            <li>Off-farm strategies: Step-by-step approach for execution </li>
            <li>On-farm support: Periodic visits, PoP adoption & expert advice </li>
            <li>Products supply – PGR, PPP, Farm Machinery & Implements  </li>
        	<li>Tele Support – Remote assistance and advice for instant solutions</li>
        	<li>Retainer Services – Ongoing consultation for sustainable success</li>
        	<div class="feedback">
        		<button><i class="material-icons">health_and_safety</i><a href="{% url 'W2AI:custom-service' %}">Sign up now for farm management solutions</a></button>
    	   </div>
        </ul>
    </div>
{% endblock %}