{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Way2AgriIntel AI | NutriTracker {% if title %}| {{title}} {% endif %}</title>
{% endblock %}
{% block content %}
	<br><br><br>
    <div class="intro">
        <div class="div1">
            <img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1714453408/Static%20Images/NutriTracker_x1zeer.webp" alt="NutriTracker Logo" loading="lazy"/>
        </div>
        <div class="div2">
            <h3>About NutriTracker</h3>
        	<p><strong>NutriTracker</strong>, a flagship service by Way2Agribusiness India Pvt Ltd under Way2AgriIntel, revolutionizes nutrient management for farmers. It encompasses robust features such as Farmers’ profile management, nutrient application monitoring, nutrient sourcing aid, precision nutrient scheduling, and efficient nutrient usage. NutriTracker leverages a wealth of data including farmers' input, historical application records, and recommendations from the Agri Clinic module to tailor nutrient schedules. It prioritizes rescheduling and notification provisions for timely adjustments. The cornerstone of NutriTracker is the "AgriClinic" module, powered by AI and machine learning models. These advanced algorithms analyze diverse factors like soil composition, weather conditions, and plant attributes to generate optimized nutrient recommendations. NutriTracker covers a wide array of crops, ensuring comprehensive nutrient management across various agricultural landscapes.</p>
        </div>
    </div>  

    <div class="click" id="hover-link">
        <a href="{% url 'W2AI:nutritracker_form' %}">Click Here</a>
    </div>

    <br><br>
    <br>
{% endblock %}
