{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@900&display=swap" rel="stylesheet">
    <title>Way2AgriIntel AI | AgriClinic Form </title>
    <link rel="stylesheet" href="{% static 'css/nutricrops.css' %}"/>    
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <p class="note">
        Access to the online service will be available shortly after the launch of the <strong>"AgriClinic"</strong> module. 
        Until then, our team will call you to offer an interim solution over the phone. 
        Kindly complete and submit the form below./ 
        AgriClinic ಮಾಡ್ಯೂಲ್ ಸ್ವಲ್ಪ ಸಮಯದ ನಂತರ ಆನ್‌ಲೈನ್ ಸೇವೆಗೆ ಲಭ್ಯವಿರುತ್ತದೆ. ಅಲ್ಲಿಯವರೆಗೆ, ನಮ್ಮ ತಂಡವು ಫೋನ್ ಮೂಲಕ ಮಧ್ಯಂತರ ಪರಿಹಾರವನ್ನು ನೀಡಲು ನಿಮಗೆ ಕರೆ ಮಾಡುತ್ತದೆ. ದಯವಿಟ್ಟು ಕೆಳಗಿನ ಫಾರ್ಮ್ ಪೂರ್ಣಗೊಳಿಸಿ ಮತ್ತು ಸಲ್ಲಿಸಿ.
    </p>
    <br>
    <div class="form-div">
        <form method="post" style="border:1px solid black;border-radius:5px;">
            <h4 class="form-heading">Nutrient Deficiency Analysis Form</h4>
            <br>
            {% csrf_token %}
                {% for field in form %}
                    <div id='{{field.auto_id}}_div' class="form-first-div">
                        <div class="form-second-div">
                            <div>
                                <label>{{ field.label}}</label>    
                            </div>
                        </div>
                        <div class="input-div">
                            <div>
                                {{ field }}
                            </div>
                        </div>
                    </div> 
                {% endfor %}
                <br>
                <div class="button-div" >
                    <button type="submit" style="padding:5px;background-color:green;border:1px solid black;border-radius:10px;"><span>Click For Nutrient Advice</span></button>
                </div>
                <br>
        </form>
    </div>
    <script>
        const availableOfStrField = document.getElementById('id_available_of_str');
        const parentDiv = document.getElementById('id_available_of_str_div');
        const nitrogenField = document.getElementById('id_nitrogen_div');
        const phosphorusField = document.getElementById('id_phosphorus_div');
        const potassiumField = document.getElementById('id_potassium_div');
        const phValueField = document.getElementById('id_ph_value_div');
        const nValueField = document.getElementById('id_n_value_div');
        const pValueField = document.getElementById('id_p_value_div');
        const kValueField = document.getElementById('id_k_value_div');
        nitrogenField.style.display = 'none';
        phosphorusField.style.display = 'none';
        potassiumField.style.display = 'none';
        parentDiv.addEventListener('change', function () 
        {
            if (availableOfStrField.checked) 
            {
                nitrogenField.style.display = 'none';
                phosphorusField.style.display = 'none';
                potassiumField.style.display = 'none';   
                phValueField.style.display = 'block';
                nValueField.style.display = 'block';
                pValueField.style.display = 'block';
                kValueField.style.display = 'block';       
            } 
            else 
            {
                nitrogenField.style.display = 'block';
                phosphorusField.style.display = 'block';
                potassiumField.style.display = 'block';
                phValueField.style.display = 'none';
                nValueField.style.display = 'none';
                pValueField.style.display = 'none';
                kValueField.style.display = 'none';
            }
        });
    </script>
{% endblock %}
