{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link href="{% static 'css/register1.css' %}" rel="stylesheet"/>
    <title>Way2AgriIntel AI | Change Password Form</title>
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<br><br>
<div class="form-div"> 
    <h3 class="register">Change Password</h3> 
      <form method="post">
        <br>
        {% csrf_token %}
        <p>All <span class="valid">*</span> marked are required fields <span>(ಎಲ್ಲಾ <span class="valid">*</span> ಗೆರೆಗಳು ಅಗತ್ಯವಿದೆ)</span></p>
        {% for field in form %}
          <div class="inside-form">
            <div>
              <label for="{{field.id_for_label}}">{{field.label}} <span class="valid">*</span></label>
            </div>
            <div>{{field}}</div>
            <br><div>{{field.errors}}</div><br>
          </div>
        {% endfor %}
        <div class="button-div"><button type="submit">Change Password</button></div><br><br>
      </form>
</div>
<br>
{% endblock %}