.footer {
    border-top-left-radius: 50px;
    padding: 15px 15px 10px 15px;
    background-color: #215d0e;
    color: white;
    border-top: 1px solid #e5e5e5;
    margin-left: 0;
}
.footer div h1 {
    color: #ffc100;
    font-size: 20px;
    font-weight: 500;
}
.footer_info-div{
    margin-left:25px;
}
.footer_info-div h3{
    width:230px;
    padding-top:0;
    margin-left:95px;
    padding-bottom: 10px;
    font-weight:bold;
    font-size:18px;
}
.footer1 {
    display: flex;
    justify-content: space-between;
}
.footer address {
    font-style: normal;
    color: white;
}
.contact_div{
    width:300px;
    padding-right:20px;
    white-space:wrap;
    height:20px;
    margin-top:-10px;
}
.place_div{
    display:flex;
}
.place_div a{
    text-decoration: none;
    line-height: 25px;
}
.place_div a address:hover{
    color:goldenrod;
}
.place_div a address{
    font-size:16px;
}
.phone_div{
    display:flex;
    margin-top:20px;
}
.phone_div div{
    margin-left:10px;
    width:200px;
}
.phone_div div a{
    font-size:16px;
    text-align:justify;
    color:white;
    margin-right:50px;
    text-decoration: none;
    line-height: 25px;
}
.phone_div div a:nth-child(3){
    margin-right:100px;
}
.phone_div div a:hover{
    color:goldenrod
}
.mail_div{
    display:flex;
    margin-top:20px;
}
.mail_div div{
    margin-left:10px;
    width:50px;
}
.mail_div div a{
    font-size:16px;
    text-align:justify;
    margin-right:150px;
    color:white;
    text-decoration: none;
    line-height: 20px;
}
.mail_div div a:hover{
    color:goldenrod;
}
.loc_div{
    margin-left:-15px;
}
.loc_div h3{
    width:230px;
    padding-top:0;
    margin-left:155px;
    padding-bottom: 10px;
    font-weight:bold;
    font-size:18px;
}
.loc{
    border: 0; 
    text-align: center;
    height:280px;
    width:390px;
    border-radius:20px;
    border:2px solid goldenrod;
}
.material-icons{
    font-size:x-large;
}
.text_font{
    margin-left:10px;
    font-size:15px;
    text-align:justify;
}
.services_div{
    margin-left:20px;
}
.services_content ul{
    width:200px;
}
.services_content ul li{
    color: white;
    margin-bottom:10px;
    font-size: 16px;
    list-style-type: none;
}
.services_content ul li a{
    text-decoration: none;
}
.footer_info{
    display:flex;
}
.services_content{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    width:100px;
    padding-left:0;
    white-space:wrap;
}
.services_heading{
    width:300px;
    padding-right:20px;
    padding-top:0;
    margin-left:205px;
    padding-bottom: 10px;
    font-weight:bold;
    font-size:18px;
}
.list{
    text-align:justify;
    margin-right:10px !important;
    color:white;
    font-size:16px !important;
} 
.list:hover{
    color:goldenrod;
}
.link{
    font-size:small !important;
    text-align:justify;
    margin-right:10px !important;
    color:#ffc100;
    white-space: wrap !important;
} 
.share-links i {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 7px;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
    background-color: white;
    color: #215d0e;
}
.share-links i:hover {
    transform: scale(1.1);
    color: #215d0e;
    background-color: #ffc100;
}
.legal {
    display: flex;
    justify-content: center;
}
.legal p {
    font-size: 14px;
}
.legal__links {
    display: flex;
    align-items: center;
}
